{% extends 'base.html.twig' %}


{% block header %}
    <div class="topline center-align">
        <h1>{{ h1 }}</h1>
        {% block info %}
            <div class="container">
                <h5>Change prices, update prices, view prices!</h5>
                <p>Click on Product Row to see All Set Prices</p>
                <blockquote class="left-align">
                    By default, price for today is special price with smaller interval if it set.
                </blockquote>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block body %}
    <div class="row">
        {% block main %}
            <div class="col s12">
                <h5 class="header">Available products</h5>
                <div class="collection">
                    {% for product in products %}
                        <a href="/product/{{ product.id }}" class="collection-item">{{ product.name }}
                            <span class="badge">default price: ${{ product.defaultPrice }}</span>
                            {% if product.actualPrice %}
                            <span class="badge new today"> ${{ product.actualPrice }}</span>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
