@import 'glipicons.css';

.header {
  color: #ee6e73;
  font-weight: 300;
}
.badge.new.today:after{
  content: " for today!";
}

.datepicker--nav {
  height: auto;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: black;
  background-color: white;
  width: auto;
  line-height: initial;
  .datepicker--nav-title i {
     display: initial;
     font-size: inherit;
     height: auto;
     line-height:initial;
  }
}