{% extends 'index/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/air-datepicker/datepicker.min.css') }}">
{% endblock %}

{% block info %}
    <div><a class="waves-effect waves-light btn" href="/">Go Back</a></div>
    <div class="container">
        <h6>Set special sort by clicking near:</h6>
        <form class="form inline" method="post" action="/api">
            <input type="text" name="specDates" id="multidatepicker" data-multiple-dates-separator=", "
            value="{% for date in product.specialDates %}{{ date }}, {% endfor %}"
            />
            <input type="hidden" name="productId" value="{{ product.id }}"/>
            <input type="hidden" name="action" value="setDates"/>
            <button class="btn green">Ok</button>
        </form>
        <p>Special Sort description: Use price which was set later</p>
    </div>

{% endblock %}

{% block main %}
    <div class="col s12">
        <h5 class="header">Actual special prices</h5>
        <a href="#" class="waves-effect waves-light btn" id="addRow">add price</a>
        <table class="table responsive-table highlight" id="editable-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Special Price, $</th>
                <th>From</th>
                <th>To</th>
                <th>Mark</th>
            </tr>
            </thead>
            <tbody>
                {% for price in product.prices %}
                    <tr>
                        <td>{{ product.id }}-{{ price.id }}</td>
                        <td>{{ price.value }}</td>
                        <td>{{ price.dateFrom }}</td>
                        <td>{{ price.dateTo }}</td>
                        <td>
                            {% if price.default %}
                                <span class="badge blue white-text">default</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/jquery.tabledit.min.js') }}"></script>
    <script src="{{ asset('js/air-datepicker/datepicker.min.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
{% endblock %}