<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/materialize.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <main>
            <div class="container">
                {% block body %}
                {% endblock %}
            </div>
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/materialize.js') }}"></script>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
